/* global settings */
body{
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
	font-size:1em;
	background: url('../r.jpg') no-repeat center center fixed;
    background-size: cover;
}

a{
	color:inherit;
	text-decoration:none;
}

/* layout settings */
#wrap{
	max-width: 65em;
	margin: 10em auto 0 auto;
}

/* left column */

#left{
	width:50%;
	float:left;
	height:43em;
	background: rgba(255, 255, 255, 0.5);
}


/* paw menu */
#left-left {
	padding-top:19em;
	padding-right:9em;
	padding-left:6em;
	float:left;
}
#left-right {
	padding-top:9em;
	float:left;
}
#left-left-down{
	padding-top:10em;
}
#left-right-down{
	padding-top:10em;
}

.paw:hover > a > .pad > .toe1{
	background-image: linear-gradient(to bottom, #FFC655 0%, #B68D3D 100%);
}

.paw:hover > a > .pad > .toe2{
	background-image: linear-gradient(to bottom, #FDF79F 0%, #FDD05D 100%);
}

.paw:hover > a > .pad > .toe3{
	background-image: linear-gradient(to bottom, #FFD663 0%, #DEB249 100%);
}

.paw:hover > a > .pad > .toe4{
	background-image: linear-gradient(to bottom, #FFF1CC 0%, #EBD796 100%);
}

.pad {
	position:relative;
	background:#333;
	width:5em; height:5em;
	border-radius:50%;
	box-shadow:         0.3em 0.3em 1em 0.5em rgba(0, 0, 0, 0.35) ;
}

.toe {
	position:absolute;
	background:#000;
	width:2.2em; height:3.2em;
	border-radius:2.2em/3.2em;
	box-shadow:         0.3em 0.3em 0.3em 0.2em rgba(0, 0, 0, 0.35) ;
}

.toe1{
	left:0em;
	top:-4em;
	transform: rotate(15deg);
}
.toe2{
	left:3em;
	top:-4em;
	transform: rotate(35deg);
}
.toe3{
	left:5.5em;
	top:-2.5em;
	transform: rotate(55deg);
}
.toe4{
	left:6.5em;
	top:0.5em;
	transform: rotate(90deg);
}

/*option*/
.option{
	font-size:6em;
}
.option > p{
	background-color:white;
	position:absolute;
	top:2.7em;
	left:2.7em;
	
}

/* right column */
#right-wrap{
}
#right{
	width:50%;
	float:left;
}

/*logo*/
#top-logo-wrap{
	height:5em;
	//background-image: linear-gradient(to right, #FFCBA5 0%, #FFF7A5 50%, #BFFFA5 75%, #A5B3FF 100%);
	//background-image: linear-gradient(to right, #B68D3D 0%, #FDD05D 25%, #DEB249 50%, #FFEAA3 80%, #B28B3E 100%);
	background-image: linear-gradient(to top, #B68D3D 0%, #FDD05D 25%, #DEB249 50%, #FFEAA3 80%, #B28B3E 100%);
}
.logo{
	position:relative;
}
.logo > p{
	left:1em;
	margin:0;
	position:absolute;
	opacity:0.7;
	font-size:4em;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	user-select: none; 
	cursor: pointer;
}

/*news*/
#text-wrap{
	word-wrap: break-word;
	overflow:auto;
	height:38em;
	background: rgba(0, 0, 0, 0.5);
	
}

#news-image-wrap:before{
	content:'';
	display:block;
	padding:0.5em;
}

#news-image-wrap{
	height:12em;
	//background-color:black;
	background: rgba(0, 0, 0, 0.5);
}

.news-image-wrap2:before{
	content:'';
	display:block;
	padding-top:10em;
	padding-right:7.5em;
	float:left;
}

.news-image-wrap2{
	height:10em;
	//background-color:black;
	background: rgba(0, 0, 0, 0.5);
}

.newsimage{
	width:53%;
	height:100%;
	background: url('../resources/a.jpg');
	background-size:cover;
	background-position: center;
	float:left;
	opacity:0.9;
}


.date{
	padding-left:1em;
	color:white;
	opacity:0.7;
}
.title{
	margin:0;
	padding-left:0.5em;
	padding-right:1em;
	font-size:2em;
	color:#FDD05D;
	opacity:0.9;
}
.content{
	
	margin:0;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
	color:white;
	font-size:1.2em;
	opacity:0.9;
}

#footer{
	background-color:black;
	clear:both;
	height:5em;
	color:white;
	text-align: center;
}
#footer:before{
	content:'';
	display:block;
	padding:2em;
}