/*global settings */
a{
	color:inherit;
	text-decoration:none;
}

/* layout settings */
#wrap{
	max-width: 65em;
	margin: 10em auto 0 auto;
}

/*logo*/
#top-logo-wrap{
	user-select: none; 
	cursor: pointer;
	height:5em;
	background-image: linear-gradient(to top, #B68D3D 0%, #FDD05D 25%, #DEB249 50%, #FFEAA3 80%, #B28B3E 100%);
}
.logo{

}
.logo > p{
	margin:0;
	text-align: center;
	opacity:0.6;
	font-size:3em;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
.logo > p:before{
	content:"";
	height:0.1em;
	display:block;
}

/*footer*/
#footer{
	background-color:black;
	clear:both;
	height:5em;
	color:white;
	text-align: center;
	opacity:0.8;
	position:relative;
}

#footer:before{
	content:'';
	display:block;
	padding:0.8em;
}